<p>Por Pais</p>

<div class="row">
    <div class="col">
       <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugges()"
        placeHolder="Buscar Pais..."
       ></app-pais-input>
    </div>
</div>

<hr>

<div
    *ngIf="hayError"
    class="alert alert-danger">
    Doesn't found some Country with this name "{{termino}}"
</div> 

<div *ngIf="!hayError" class="row">
    <div class="col">
        <app-pais-tabla [Countries]="Countries"></app-pais-tabla>
    </div>
</div>